.experience {
  padding-bottom: 10px;
}

.experience-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.experience-header-title {
  margin: 0;
  padding-right: 0.75rem;
}

.experience-header-location {
  align-self: center;
}
